<nz-collapse id="homework-nz-collapse">
  <!--单选题面板-->
  <nz-collapse-panel
    [nzHeader]="'选择题'"
    [nzActive]="true"
    [nzDisabled]="false">

    <!--单选题列表-->
    <ol>
      <li *ngFor="let stuMultiple of stuMultiples" class="multiple">
        <form>
          <div class="title item"><b>{{stuMultiple.title}}</b></div>
          <div class="options item">
            <div>
              <span>A. </span><span class="optionA"> {{stuMultiple.optionA}}</span>
            </div>
            <div>
              <span>B. </span><span class="optionB"> {{stuMultiple.optionB}}</span>
            </div>
            <div>
              <span>C. </span><span class="optionC"> {{stuMultiple.optionC}}</span>
            </div>
            <div>
              <span>D. </span><span class="optionD"> {{stuMultiple.optionD}}</span>
            </div>
          </div>

          <nz-radio-group [(ngModel)]="stuMultiple.answer" name="stuAnswer">
            <label nz-radio nzValue="A">A</label>
            <label nz-radio nzValue="B">B</label>
            <label nz-radio nzValue="C">C</label>
            <label nz-radio nzValue="D">D</label>
          </nz-radio-group>
          <button nz-button *ngIf="!stuMultiple.submitted" (click)="submitMultiple(stuMultiple)" [disabled]="!stuMultiple.answer || stuMultiple.answer==''">提交回答</button>
          <button nz-button *ngIf="stuMultiple.submitted" (click)="checkAnswer(stuMultiple['assignmentLongId'], 1)">查看答案</button>
        </form>

        <!--分割线-->
        <nz-divider></nz-divider>
      </li>
    </ol>


  </nz-collapse-panel>

  <!--简答题面板-->
  <nz-collapse-panel
    [nzHeader]="'简答题'"
    [nzActive]="false"
    [nzDisabled]="false">

    <!--简答题列表-->
    <ol>
      <li *ngFor="let stuShort of stuShorts">
        <form>
          <div class="title item"><b>{{stuShort.title}}</b></div>

          <textarea rows="4" style="max-width: 500px" nz-input name="stuAnswer" [(ngModel)]="stuShort.answer"></textarea>

          <button style="margin-left: 20px;"
                  nz-button *ngIf="!stuShort.submitted"
                  [disabled]="!stuShort.answer || stuShort.answer==''"
                  (click)="submitShort(stuShort)">提交回答</button>
          <button style="margin-left: 20px;"
                  nz-button *ngIf="stuShort.submitted"
                  (click)="checkAnswer(stuShort['assignmentLongId'], 2)">查看答案</button>
        </form>
      </li>

    </ol>

  </nz-collapse-panel>


  <!--判断题面板-->
  <nz-collapse-panel
    [nzHeader]="'判断题'"
    [nzActive]="true"
    [nzDisabled]="false">

    <!--判断题列表-->
    <ol>
      <li *ngFor="let stuJudge of stuJudges" class="judge">
        <form>
          <div class="title item"><b>{{stuJudge.title}}</b></div>
          <nz-radio-group [(ngModel)]="stuJudge.answer" name="stuAnswer">
            <label nz-radio nzValue="T">正确</label>
            <label nz-radio nzValue="F">错误</label>
          </nz-radio-group>
          <button nz-button *ngIf="!stuJudge.submitted"
                  (click)="submitJudge(stuJudge)"
                  [disabled]="!stuJudge.answer || stuJudge.answer==''">提交回答</button>
          <button nz-button *ngIf="stuJudge.submitted" (click)="checkAnswer(stuJudge['assignmentLongId'], 3)">查看答案</button>

        </form>

        <!--分割线-->
        <nz-divider></nz-divider>
      </li>
    </ol>


  </nz-collapse-panel>

</nz-collapse>